@font-face {
    font-family: nyks;
    src: url(../fonts/nyks-regular.otf);
}

body {
    font-family: 'nyks', sans-serif;
    margin: 0;
    z-index: 10;
    color: #545454;
    background-color: whitesmoke;
}

header, .title-f {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-image: url('../img/NYKS_01.jpg');
}

.title-f {
    background-image: url('../img/NYKS_58.jpg');
}

.language {
    position: absolute;
    right: .5em;
    top: .3em;
    font-size: 1.5em;
}

main {
    margin: 0 auto;
}

.intro {
    margin-top: 1.5em;
}

.menu-inner {
    max-width: 968px;
    margin: 0 auto;
    padding: 0 5vw 10vw 5vw;
}

.menu-inner p {
    font-family: 'Economica', sans-serif;
}

.img-chien {
    max-height: 100vh;
    max-width: 100vw;
}

.logo-chien {
  justify-content: center;
  align-items: center;
  display: flex;
}

section {
    text-align: center;
}

p {
    font-family: 'nyks', 'Economica', sans-serif;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

a:active {
    color: white;
    text-decoration: none;
}

.cf {
    position: relative;
    width: 71px;
    height: 50px;
    margin: 0 auto;
}

.cf img {
    position: absolute;
    left: 0;
    width: 71px;
    height: 50px;
}

@keyframes cf3FadeInOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes cf3FadeInOut2 {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes cf3FadeInOut3 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.cf img.bell1 {
    animation-name: cf3FadeInOut1;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

.cf img.bell2 {
    animation-name: cf3FadeInOut2;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

.cf img.bell3 {
    animation-name: cf3FadeInOut3;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

/******************************* MEDIA *********************************/

@media (min-width: 768px) {

    h1 {
        font-size: 6em;
    }

    p {
        font-size: 22px;
    }
}

/* iPhone, iPad */
@media all and (max-device-width: 480px) {
    header, .title-f {
        background-attachment: scroll;
    }
}

@media all and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
    header, .title-f {
        background-attachment: scroll;
    }
}

@media all and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
    header, .title-f {
        background-attachment: scroll;
    }
}

.link-row {
  display: flex;
  justify-content: left;
  gap: 1em;
  align-items: center;
}

.link-icon {
  width: 7em;
}

.link-text {
    max-width: 64vw;
  color: white;
}

.link-text p {
  text-align: left;
  font-size: 1.5em;
}

.open-sign {
  width: 8em;
}

.open-sign img {
  width: 300px;
}

@media all and (min-width: 500px) {
  .link-text {
    max-width: 60vw;
  }
}

@media all and (min-width: 680px) {
  .link-text p {
    font-size: 2em;
  }

  .language {
    font-size: 2em;
  }

}

@media all and (min-width: 720px) {
  .link-row {
    margin-left: 10%;
    margin-bottom: 1em;
  }
}

@media all and (min-width: 920px) {
  .link-row {
    margin-left: 20%;
    margin-bottom: 1em;
  }
}

@media all and (min-width: 1024px) {
  .link-row {
    margin-left: 35%;
    margin-bottom: 1em;
  }
}
